*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1800px;
    width: 95%;
}
h1, h2, h3 {
    color: #444;
    
}
nav {
    background-color:#333;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
nav a:hover {
    text-decoration: underline;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
/*#### Main Content Styles #### */
main {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 20px 30px;

}
img {
    max-width: 100%;
    height: 300px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    margin-top: 10px;
    justify-content: center;
    margin: 10px auto;
  
box-shadow: #7dbbcd 0px 4px 8px 0px;
}
button:hover {
    background-color: #555;
}
/*#### Contact page #### */
form {
    border: #444 2px solid;
    border-radius: 5px;
    display: block;
    flex-direction: row;
    padding: 50px;
    max-width: 600px;
    height: auto;
    margin: auto;
    
}
form label {
    margin: 5px 0 5px;
}
form input, form textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
p{
    text-align: justify;
    text-justify: inter-word;
    }
ol{
    margin-left: 30px;

}
ul{
    margin-left: 30px;

}
/*#### Footer Styles #### */
.submit-button:hover {
    background-color: #1097bc;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
footer a {
    color: #ffcc00;
    text-decoration: none;
}